################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestingWorkshop/TestingWorkshop/obj
/.vs
/TestingWorkshop/.vs/TestingWorkshop/v16
*.dll
/bin
/ref
*.pdb


/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0/ref/TestingWorkshop.dll
/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0/TestingWorkshop.dll
/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0/TestingWorkshop.pdb
/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0
/TestingWorkshop/.vs/TestingWorkshop/DesignTimeBuild/.dtbcache.v2
/TestingWorkshop/TestingWorkshop/.vs/slnx.sqlite
/TestingWorkshop/TestingWorkshop/.vs/TestingWorkshop/v16/.suo
/TestingWorkshop/TestingWorkshop/.vs/TestingWorkshop/v16/TestStore/0/000.testlog
/TestingWorkshop/TestingWorkshop/.vs/TestingWorkshop/v16/TestStore/0/testlog.manifest
/TestingWorkshop/.vs/TestingWorkshop/FileContentIndex/cb402533-59bc-44f7-9456-90ab93a0a4fa.vsidx
/TestingWorkshop/.vs/TestingWorkshop/FileContentIndex/read.lock
/TestingWorkshop/.vs/TestingWorkshop/v17/.suo
/TestingWorkshop/.vs/TestingWorkshop/v17/TestStore/0/000.testlog
/TestingWorkshop/.vs/TestingWorkshop/v17/TestStore/0/testlog.manifest
/TestingWorkshop/.vs/TestingWorkshop/FileContentIndex/356e20b0-00e3-45a3-9553-bedcdce41c9c.vsidx
