################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.dll
/ref
*.pdb
.vs
obj
bin
/TestingWorkshop/TestingWorkshop/bin/Debug/net6.0/TestingWorkshop.deps.json
/TestingWorkshop/TestingWorkshop/bin/Debug/net6.0/TestingWorkshop.deps.json
