################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestingWorkshop/TestingWorkshop/obj
/.vs
/TestingWorkshop/.vs/TestingWorkshop/v16
*.dll
/bin
/ref
*.pdb


/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0/ref/TestingWorkshop.dll
/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0/TestingWorkshop.dll
/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0/TestingWorkshop.pdb
/TestingWorkshop/TestingWorkshop/bin/Debug/net5.0
/TestingWorkshop/.vs/TestingWorkshop/DesignTimeBuild/.dtbcache.v2
/TestingWorkshop/TestingWorkshop/.vs/slnx.sqlite
/TestingWorkshop/TestingWorkshop/.vs/TestingWorkshop/v16/.suo
/TestingWorkshop/TestingWorkshop/.vs/TestingWorkshop/v16/TestStore/0/000.testlog
/TestingWorkshop/TestingWorkshop/.vs/TestingWorkshop/v16/TestStore/0/testlog.manifest
